{% extends 'base.html' %}

{% block bar%}
    <div class="col-mb-4">
      <div class="list-group">
        {% for regitem in regionInf%}
          <a href="#" class="list-group-item list-group-item-action">{{ regitem.Region_name }}</a>
        {% endfor %}
      </div>
    </div>
{% endblock %}

{% block content%}
    <div class="col-md-8">
      {% for item in usersInf%}
        <div class="card mb-3 text-center">
          <div class="card-header">
            <h3> {{ item.login }} </h3>
          </div>
          <div class="card-body ">
            <div class="media">
              {% if item.photo %}
                <img src=" {{ item.photo.url }} " alt="" width = "250" height="200">
              {% else %}
                <img src="https://picsum.photos/id/237/250/200" alt="">
              {% endif %}
              <div class="media-body">
                <h5 class="card-title">Users Information</h5>
                <p class="card-text"> Name: {{ item.firstName }} {{ item.lastName }}</p>
                <p class="card-text"> Email: {{ item.email }}</p>
                <a href="{% url 'profile' item.login %}" class="btn btn-primary">Go profile</a>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            {{ item.created_at|date:"Y-m-d H:i:s" }}
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}
