{% extends 'profile_base.html' %}

{% block title %} {{ usrLog.title }} {% endblock %}

{% block content %}
  <div class="col-md-8">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            {% if usrLog.photo %}
              <img src=" {{ usrLog.photo.url }} " class="img-thumbnail" alt="" width = "550" height="200">
            {% else %}
              <img src="https://picsum.photos/id/237/150/100" alt="">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Information: {{ usrLog.login }}</h5>
              <p class="card-text">Name:    {{ usrLog.firstName }} {{ usrLog.lastName }}</p>
              <p class="card-text">Email:   {{ usrLog.email }}</p>
              <p class="card-text">Region:  {{ usrLog.region }}</p
              <p class="card-text">Active:  {{ usrLog.active }}</p>
              <p class="card-text"><small class="text-muted">Created: {{ usrLog.created_at|date:"Y-m-d" }}</small></p>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
